Just test the view
<link href="~/css/match/match.css" rel="stylesheet" />
<div id="__next">
    <div class="content">
        From the match here
        <div id="content">
            <div class="tournament">
                <div class="ff-hero_hero__container">

                </div>
                <div class="container-fluid">
                    <div class="fp-submenu-carousel_carouselInner">

                    </div>

                </div>
                <div class="ff-bg-grey-lightest">
                    <div class="fp-tournament-matches-overview_matchesContainer">
                        <div class="container">
                            <div class="row">
                                <div class="fp-tournament-matches-overview_allItemsLayout">
                                    <div class="fp-tournament-matches-overview_title">
                                        <h4>
                                            MATCHES
                                        </h4>
                                    </div>
                                    <div class="fp-tournament-matches-overview_tabLayout">
                                        <div class="fp-tournament-matches-overview_tabItem">
                                            <spam>
                                                Knockouts
                                            </spam>
                                        </div>
                                        <div class="fp-tournament-matches-overview_tabItem fp-tournament-matches-overview_activeTab">
                                            <span>Group</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row fp-match-overview_matchRow justify-content-between d-flex">
            <div class="d-none d-md-inline col fp-match-overview_tournamentDetails">
                <ul class="fp-match-overview_matchInfoList">
                    <li class="fp-match-overview_matchInfoListDate">
                        14. Jun - 22:00
                    </li>
                    <li>
                        Luzhniki Stadium
                    </li>
                    <li>
                        Group A
                    </li>
                </ul>
            </div>

            <h4 class="d-inline d-md-none col fp-match-overview_homeTeam">
                RUS
            </h4>
            <h4 class="d-none d-md-inline col fp-match-overview_homeTeam h4-article">
                Russia
            </h4>
            <div class="col-auto d-flex align-items-center fp-match-overview_centerItems">
                <div class="fp-match-overview_logo fp-match-overview_nationalTeam">
                    <img src="~/img/Team/120x80/RUS.gif" />
                </div>
                <div class="ff-match-results_concludedMatchResults ff-match-results_results">
                    <h4 class="h4-article">
                        5-0
                    </h4>
                </div>
                <div class="fp-match-overview_logo fp-match-overview_nationalTeam">
                    <img src="~/img/Team/120x80/KSA.gif" />
                </div>

            </div>
            <h4 class="d-inline d-md-none col fp-match-overview_homeTeam">
                KSA
            </h4>
            <h4 class="d-none d-md-inline col fp-match-overview_awayTeam h4-article">
                Saudi Arabia
            </h4>
        </div>
        <div>
            Match row only here
            <a>
                <div class="row fp-match-overview_matchRow justify-content-between d-flex">
                    <div class="d-none d-md-inline col fp-match-overview_tournamentDetails ">
                        <ul class="fp-match-overview_matchInfoList">
                            <li class="fp-match-overview_matchInfoList">
                                30. Jun - 21:00
                            </li>
                            <li>
                                Kazan Arena
                            </li>
                        </ul>
                    </div>
                    <div class="d-inline d-md-none col fp-match-overview_homeTeam h4-article">
                        FRA
                    </div>
                    <div class="d-none d-md-inline col fp-match-overview_homeTeam h4-article">
                        France
                    </div>
                    <div class="col-auto d-flex align-items-center fp-match-overview_centerItems ff-mx-md-24 ff-mx-lg-32 ff-mx-sm-8">
                        <div class="fp-match-overview_logo d-flex align-items-center justify-content-center fp-match-overview_nationalTeam">
                            <div style="display:inline-block;max-width:100%;overflow:hidden;position:relative;box-sizing:border-box;margin:0px;">
                                <div style="box-sizing: border-box; display: block; max-width: 100%;">
                                    <img alt="" aria-hidden="true" role="presentation" src="~/img/Team/120x80/FRA.gif" style="max-width:100%;display:block;margin:0px;border:none;padding:0px" asp-append-version="true" />
                                </div>
                            </div>
                        </div>
                        <div class="ff-match-results_concludedMatchResults ff-match-results_results ff-mx-md-24 ff-mx-lg-32 ff-mx-8 d-flex justify-content-center align-items-center">
                            <h4 class="h4-article">
                                4-3
                            </h4>
                        </div>
                        <div class="fp-match-overview_logo d-flex align-items-center justify-content-center fp-match-overview_nationalTeam">
                            <div style="display:inline-block;max-width:100%;overflow:hidden;position:relative;box-sizing:border-box;margin:0px;">
                                <div style="box-sizing: border-box; display: block; max-width: 100%;">
                                    <img alt="" aria-hidden="true" role="presentation" src="~/img/Team/120x80/ARG.gif" style="max-width:100%;display:block;margin:0px;border:none;padding:0px" asp-append-version="true" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-inline d-md-none col fp-match-overview_homeTeam h4-article">
                        ARG
                    </div>
                    <div class="d-none d-md-inline col fp-match-overview_homeTeam h4-article">
                        Argentina
                    </div>
                </div>
            </a>
            <a>
                <div class="row fp-match-overview_matchRow justify-content-between d-flex">
                    <div class="d-none d-md-inline col fp-match-overview_tournamentDetails ">
                        <ul class="fp-match-overview_matchInfoList">
                            <li class="fp-match-overview_matchInfoList">
                                1. Jul - 21:00
                            </li>
                            <li>
                                Luzhniki Stadium
                            </li>
                        </ul>
                    </div>
                    <div class="d-inline d-md-none col fp-match-overview_homeTeam h4-article">
                        ESP
                    </div>
                    <div class="d-none d-md-inline col fp-match-overview_homeTeam h4-article">
                        Spain
                    </div>
                    <div class="col-auto d-flex align-items-center fp-match-overview_centerItems ff-mx-md-24 ff-mx-lg-32 ff-mx-sm-8">
                        <div class="fp-match-overview_logo d-flex align-items-center justify-content-center fp-match-overview_nationalTeam">
                            <div style="display:inline-block;max-width:100%;overflow:hidden;position:relative;box-sizing:border-box;margin:0px;">
                                <div style="box-sizing: border-box; display: block; max-width: 100%;">
                                    <img alt="" aria-hidden="true" role="presentation" src="~/img/Team/120x80/ESP.gif" style="max-width:100%;display:block;margin:0px;border:none;padding:0px" asp-append-version="true" />
                                </div>
                            </div>
                        </div>
                        <div class="ff-match-results_concludedMatchResults ff-match-results_results ff-mx--md-24 ff-mx-lg-32 ff-mx-8 d-flex justify-content-center align-items-center">
                            <h4 class="h4-article">
                                1-1
                            </h4>
                        </div>
                        <div class="fp-match-overview_logo d-flex align-items-center justify-content-center fp-match-overview_nationalTeam">
                            <div style="display:inline-block;max-width:100%;overflow:hidden;position:relative;box-sizing:border-box;margin:0px;">
                                <div style="box-sizing: border-box; display: block; max-width: 100%;">
                                    <img alt="" aria-hidden="true" role="presentation" src="~/img/Team/120x80/RUS.gif" style="max-width:100%;display:block;margin:0px;border:none;padding:0px" asp-append-version="true" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-inline d-md-none col fp-match-overview_homeTeam h4-article">
                        RUS
                    </div>
                    <div class="d-none d-md-inline col fp-match-overview_homeTeam h4-article">
                        Russia
                    </div>
                </div>
                <div class="row fp-match-overview_matchRow fp-match-overview_extraInfo">
                    <p>Russia win 3 - 4 on penalties</p>
                </div>
            </a>
        </div>
    </div>
</div>
